<nav>
  <ng-container *ngIf="isLoggedIn$ | async; else isLogin">
    
    <nav class="navbar">
      <div class="logo">
        <!-- Logo y nombre de la empresa -->
        <img
          *ngIf="empresaActiva?.urlLogo"
          [src]="empresaActiva?.urlLogo"
          alt="Logo"
          height="50"
          style="vertical-align: middle; margin-right: 10px;"
        />
        <span>{{ empresaActiva?.nombre || 'Mi Empresa' }}</span>
      </div>
      <button class="menu-toggle" (click)="menuAbierto = !menuAbierto">
        ☰
      </button>
      <ul [class.open]="menuAbierto">
        <li><a [routerLink]="['/dasboard/listNoticia']">Noticias</a></li>
        <li><a [routerLink]="['/dasboard/fromEmpresa']">Empresa</a></li>
        <li><a (click)="cerrarSession()">Cerrar Sesión</a></li>
      </ul>
    </nav>
  </ng-container>
    
  <ng-template #isLogin>
    <nav class="navbar">
      <div class="logo">
        <!-- Logo y nombre de la empresa -->
        <img
          *ngIf="empresaActiva?.urlLogo"
          [src]="empresaActiva?.urlLogo"
          alt="Logo"
          height="50"
          style="vertical-align: middle; margin-right: 10px;"
        />
        <span>{{ empresaActiva?.nombre || 'Mi Empresa' }}</span>
      </div>
      <button class="menu-toggle" (click)="menuAbierto = !menuAbierto">
        ☰
      </button>
      <ul [class.open]="menuAbierto">
        <li *ngFor="let menu of menus">
          <a [href]="menu.url">{{ menu.nombre }}</a>
        </li>
        <li>
          <a href="login">Login</a>
        </li> 
      </ul>
    </nav>
  </ng-template>
</nav>

 




